*{
    margin: 0;
    padding: 0;
}
body{
    height: 6000px;
}
a{
    text-decoration: none;
}
.container{
    width: 70%;
    margin: auto;
   
}
.navbar{
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
}  
.navbar .container{
    display: flex;
    align-items: center;
}
.navbar .logo {
    width:30%
}
.navbar .logo img{
    width: 200px;
}
.navbar .list{
    flex-grow: 1;
}
.list ul{
    display: flex;
    list-style: none;
   gap: 10px;
   justify-content: flex-end;
}
.list ul a{
    color:white;
    text-transform: capitalize;
}
.header{
    background-color:rgb(76, 75, 75) ;
    color: white;
    height: 924px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content{
    background-color: rgb(0, 0, 0,.2);
    padding: 40px;
    border-top: 1px solid red;
}
